/* Configurations */
:root {
  --secondary--2: #FEFAEB;
  --secondary--1: #F8D147;
  --secondary: #C0A237;
  --secondary-1: #857026;
  --primary-2: #584A19;

  --primary--2: #F6FBFD;
  --primary--1: #B1DBEF;
  --primary: #51AEDC;
  --primary-1: #0078B4;
  --primary-2: #005077;

  --neutral--2: #FAFAFA;
  --neutral--1: #D4D4D4;
  --neutral: #A4A4A4;
  --neutral-1: #727272;
  --neutral-2: #4B4B4B;

  --red: #FE6F5C;
  --yellow: #F8D147;
}

* {
  transition: all 0.3s;
}

body {
  display: flex;
  align-items: center;
  background-color: var(--neutral--2);
  justify-content: space-between;
}

.hidden {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input-group-text {
  min-width: 130px;
}

.input-group {
  margin: 20px 0; 
}




/* Wireframe styling */
main {
  width: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.col {
  position: relative;
}

.board {
  display: flex;
  aspect-ratio: 7 / 6;
  background: var(--primary-2);
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 20%;;
}

.tree > * {
  margin: 10vh auto;
}

.tree .d-flex {
  height:20%;
  margin-right: 30px;
  margin-left: 30px;
}

.d-flex .board {
  height:100%;
}

.board:before,
.board:after {
  width: 6%;
  content: "";
  box-shadow: 0px 9px 11px rgb(0 0 0 / 80%);
  display: block;
  z-index: 2;
  background: var(--primary-2);
  position: absolute;
  height: 106%;
  top: -3%;
}

.board:before {
  left: -6%;
}

.board:after {
  right: -6%;
}

.board.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.sidebar {
  width: 33vw !important;
  padding: 20px;
  height: 70vh;
  box-shadow: 2px 0px 2px 0px var(--primary-2);
  border-top-right-radius: 20px;
  margin-right: 50px;
  border-bottom-right-radius: 20px;
  background: var(--primary-2);
  color: #fff;
}

.results {
  margin-top: 39px;
  background: var(--neutral--2);
  border-radius: 5px;
  padding: 15px;
  color: var(--neutral-2);
}

.results span {
  color: green;
  margin-left: 10px;
}



/* Buttons */
.btn-primary {
  background-color: var(--primary-1);
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-2);
}

.btn-secondary {
  background-color: var(--secondary-1);
}

.btn-secondary:hover {
  background-color: var(--primary-2);
}

.btn-neutral {
  color: #fff;
  background-color: var(--neutral);
}

.btn-neutral:hover {
  color: #fff;
  background-color: var(--neutral-1);
}

button.close {
  box-shadow: 0 0 3px 1px;
  position: absolute;
  top: 20px;
  right: 20;
  background: var(--neutral);
  border: none;
  color: #fff;
  font-size: 25px;
}




/* Boards */
.board .slot {
  background: var(--neutral--2);
  aspect-ratio: 1;
  border: 3px solid var(--primary-2);
  border-radius: 50%; 
}

.board .slot-fill {
  width: calc(100% - 6px);
  content: "";
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 10px 10px 20px rgb(0 0 0 / 84%);
  transition: top 2s;
  opacity: 0;
  z-index: 0;
}

.board .red-slot {
  opacity: 1;
  display:block;
  background-color: var(--red);
}

.board .yellow-slot {
  opacity: 1;
  display:block;
  background-color: var(--yellow);
}

/* Main board */
#board {
  height: 540px;
  box-shadow: 0 8px 20px 10px;
}

#board .slot {
  border: 10px solid var(--primary-2);
}

#board .slot-fill {
  width: calc(100% - 20px);
}

#board [col]:hover {
  background: rgb(0 0 0 / 47%);
  cursor: pointer;
}





/* Tree */
.tree {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #ebebeb7a;
  z-index: 1;
}